.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.modal-content {
  margin: 10% auto;
  width: 70%;
  background-color: #f4f4f4;
  padding: 10px;
}

.long-box {
   height: 2000px;
   background-color: #123;
}
.btn-close-modal {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
  color: #ccc;
}

.btn-close-modal:hover {
  color: #000;
}
